<div style="text-align:center">
  <br>
  <h2>{{data.__zone_symbol__value.account_name}}'s <br>Main Balance</h2> <br> <br>
  <h2>
    {{ bdata2  }}
  </h2>

  <!-- 

  {{head}}
  <input type="text" placeholder="Amount in EOS" /> -->

  Send EOS

  <form #orgForm="ngForm">
    <input placeholder="From" name="from" [(ngModel)]="bdata.from" type="text" #from="ngModel" class="form-control"
      required />

    <input placeholder="To" name="to" [(ngModel)]="bdata.to" type="text" #to="ngModel" class="form-control" required />

    <input placeholder="Quantity" name="quantity" [(ngModel)]="bdata.quantity" type="text" #quantity="ngModel"
      class="form-control" required />
    <br><br>
    <button class="form-control" type="button" [disabled]="!orgForm.valid" (click)="addRec()" class="btn primary-btn"
      name="submit">


      TRANSFER
    </button>
  </form>

  <!-- <button (click)="ifClicked()">Transfer</button> -->
</div>