<div style="text-align:center">
  <br>
  Transaction details : (As reflected on <a href="https://jungle3.bloks.io">Junglenet Explorer</a> )


  <!-- {{data.__zone_symbol__value.account_name}}'s -->

  <p align='left'>
    Status : {{ data3?.receipt.status.toUpperCase() }} <br>
    Transaction Id : {{ data3?.id }} <br>
    Block number : {{ data3?.block_num }} <br>
    Block generated time : {{ data3?.block_time }} <br>
    Failure reason (if any) : {{  data3?.error_code }} <br>
    {{ data3?.except }} <br>
  </p>


  <form #orgForm="ngForm">
    From &nbsp; &nbsp; &nbsp;
    <input placeholder="EOS Test Account" name="from" [(ngModel)]="bdata.from" type="text" #from="ngModel"
      class="form-control" required /> <br> <br> Available SYS Tokens with you {{data?.__zone_symbol__value}} <br><br>
    To &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <input placeholder="EOS Test Account" name="to" [(ngModel)]="bdata.to" type="text" #to="ngModel"
      class="form-control" required />
    <br> <br>
    Amount &nbsp; <input placeholder="1.0000 SYS" name="quantity" [(ngModel)]="bdata.quantity" type="text"
      #quantity="ngModel" class="form-control" required />
    <br><br> <br>
    <button class="form-control" type="button" [disabled]="!orgForm.valid" (click)="addRec()" class="btn primary-btn"
      name="submit">


      Transfer SYS
    </button>
  </form>
  Developer : skarabhaa (bskrksyp9@zoho.com)
  <!-- <button (click)="ifClicked()">Transfer</button> -->
</div>