<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img height="80" alt="EOS Logo" src="assets/images/eos-logo.svg" />
  <p align='center' style="font-family: Verdana; font-size:18px">
    Hello & Welcome ! <br> <br>
    This is a demonstration of Token transfer within EOS test accounts. <br> <br>
    How does it work ? <br> <br>
    - Smart Contract of custom token called SYS has been deployed to Junglenet (Test Network for EOS Blockchain) <br>
    <br>
    - With the help of EOSJS library, the transaction will take place and each record will be registered. <br>
    <br>
    * It takes two test accounts baccount1234 and bktestacc123, with a default value of 1.0000 SYS
  </p>

</div>

<app-info></app-info>