<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img height="80" alt="EOS Logo" src="assets/images/eos-logo.svg" />
  <p align='center' style="font-family:Cursive">
    Hello & Welcome ! <br> <br>
    This is just a demonstration of a Wallet (EOS Blockchain based)
    by making use of EOSJS Library, a Smart Contract of custom token called SYS which has been deplyed to Junglenet
    <br>
    You can use From account as baccount1234 and To account as bktestacc123, and amount must have 4 decimals !
  </p>

</div>

<app-info></app-info>